body {
    text-align: center;
    background-color: rgb(233, 215, 207);
}

a {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: rgb(168, 73, 73);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: aquamarine;
}
p {
    font-family: "Fira+Sans", sans-serif;
    font-size: 30px;
    color: rgb(51, 66, 66);
}
